<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--css -->
    <link type="text/css" rel="stylesheet"
    href="/stylesheets/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet"
    href="/stylesheets/bootstrap">

</head>
<body>